* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(230deg, #f902ff, #00dbdf);
}

aside {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 20px;
  border: rgba(255, 255, 255, 0.4) solid thin;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
}

aside h1 {
  color: #333;
  font-size: 35px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
}

aside h5 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 580;
  color: #5f5f5f;
  margin-bottom: 0;
  text-align: center;
}

aside h5 a {
  color: #f902ff;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

.formGroup {
  margin: 8px 0;
  padding: 8px 10px;
}
label {
  font-weight: 500;
  font-size: 20x;
}

input {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  border-radius: 8px;
  height: 35px;
  border: 2px solid black;
}

button {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  background: linear-gradient(230deg, #ff02f2, #7f6cef);
  height: 40px;
}
